@import "tailwindcss";

/* Hide scrollbars globally to make it feel more like a native app */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
