@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  background: #000;
  color-scheme: dark;
}

body {
  margin: 0;
}

/* Hide scrollbars globally to make it feel more like a native app */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
